body {
  font-family: "Lato", sans-serif;
  background-color: #006699;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
  margin-bottom: 40px;
}
.no-margin-after {
  margin-bottom: 0;
}
.margin-sm-after {
  margin-bottom: 10px;
}
.margin-lg-after {
  margin-bottom: 40px;
}
.logo {
  width: 100%;
}
.pre-header, .post-header {
  font-weight: bold;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
}
.post-header {
  margin-top: 10px;
  margin-bottom: 50px;
}
.pre-header {
  margin-top: 0;
  margin-bottom: 10px;
}
hr {
  border-color: rgba(255, 255, 255, 0.5);
}
.section-label {
  margin-bottom: 2px;
  margin-right: 15px;
  text-align: right;
  font-size: 21px;
}
i {
  margin-left: 8px;
}
.boxed-section {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-style: dashed;
  border-radius: 8px;
  padding: 12px;
  font-weight: lighter;
}
input {
  opacity: 0.9;
}
.check-in {
  font-size: 21px;
}
.footer {
  font-size: 18px;
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
